@import 'grid';
@import 'functions';

$primary-color: green;
$secondary-color: #4f310a; 
$highlight-color: #e67e22;
$background-color: #2B2B2B;
$facebook: #3b5998;
$linkedin: #0077B5;
$github: #6e5494;
$medium: #00AB6C;


/* ----------------------------- 
   Basic Setup 
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 23px;
  color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: #ecf0f1;
}

/* ----------------------------- 
   Reusable Components
/* ----------------------------- */


section {
  padding: 40px 80px;
  background-color: #2B2B2B;
}

ul li {
  vertical-align: middle;
}

/* ----------------------------- 
   Links
/* ----------------------------- */
a:link, 
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}
/* ----------------------------- 
   Buttons
/* ----------------------------- */

/* ----------------------------- 
   Dropdown Menus
/* ----------------------------- */

#park-selection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

#park-selection select {
  outline: none;
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

/* ----------------------------- 
   Logos
/* ----------------------------- */

.logo-small {
  height: 50px;
  width: auto;
}


/* ----------------------------- 
   Header Section
/* ----------------------------- */

header {
  background-image: url('./images/yosemite.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.hero {
  vertical-align: text-bottom;
  background-color: $primary-color;
  align-self: flex-end;
  opacity: 0.9;
  padding: 5px 0;
}

.hero .what-is-trailstar {
  padding-left: 30px;
  display: inline-block;
  width: 50%;
}

.hero .title {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
  color: $highlight-color;
  letter-spacing: 0.2em;
}

.hero .header {
  letter-spacing: 0.1em;
}

.hero .secondary {
  font-size: 75%;
}

.hero a {
  font-size: 75%;
  letter-spacing: 0.1em;
  border-bottom: 0;
  text-transform: uppercase;
}

.hero .slideshow {
  text-align: right;
  padding-right: 5%;
  display: inline-block;
  width: 50%;
}

.slideshow img {
  max-width: 240px;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
}

.hero figcaption {
  color: $highlight-color;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 75%;
}


/* ----------------------------- 
   Main Navigation 
/* ----------------------------- */ 

.main-nav {
  background-color: $primary-color;
  height: 80px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.main-nav > ul {
  list-style: none;
  text-align: center;
}

.main-nav > ul > li {
  display: inline-block;
  padding: 0 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s;
  padding-bottom: 5px;
}

.main-nav li a:active,
.main-nav li a:hover {
  border-bottom: 2px solid #e67e22;
}


/* ----------------------------- 
   Map Section 
/* ----------------------------- */ 

.section-map {
  text-align: center;
}

#map2 {
  width: 930px;
  height: 630px;
  display: inline-block;
  margin: 0 auto;
}

/* ----------------------------- 
   Parks Section 
/* ----------------------------- */ 

.park-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

iframe {
  max-width: 100%;
  max-height: 338px;
  display: inline-block;
}


/* ----------------------------- 
   About Section 
/* ----------------------------- */ 

.about {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./images/big-bend.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

}

.about .quote {
  width: 75%;
  margin: 0 auto;
  font-family: 'Coming Soon', cursive;
  font-size: 150%;
  text-align: center;
}

/* ----------------------------- 
   Footer Section 
/* ----------------------------- */

footer {
  background-color: $secondary-color;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer p {
  color: #ccc;
  text-transform: uppercase;
  font-size: 75%;
  padding: 0 30px;
  text-align: center;
}

.social-media {
  list-style: none;
}

.social-media li {
  display: inline-block;
  margin: 15px;
}

.social-media li a {
  border-bottom: 0;
  color: #ccc
}

.ion-social-facebook:hover {
  color: $facebook;
}

.ion-social-linkedin:hover {
  color: $linkedin;
}

.ion-social-github:hover {
  color: $github;
}

.fa-medium:hover {
  color: $medium;
}





